<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PetHelper</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p style="color: #9d9d9d; font-size: 30px; padding: .3em 0 0; " >PetHelper</p>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Pets", "Index", "Pet")</li>
                        <li>@Html.ActionLink("AppointmentTBD", "Index", "Appointment")</li>

                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    <hr style="height:1em;" />
    </div>
    <footer style="background-color: lightgray; padding: .5em; border-top-right-radius:.5em; border-top-left-radius: .5em; width: max;">
        <p class="text-center">
            @Html.ActionLink("About", "About", "Home") |
            @Html.ActionLink("Contact", "Contact", "Home")
        </p>
        <p class="text-center">&copy; @DateTime.Now.Year - Created by  <a href="https://fkitchell.github.io/portfolio/" target="_blank"> Fletch</a></p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
