@model IEnumerable<PetHelper.Models.AppointmentModels.AppointmentListDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table text-center">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Pet.Name)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.ServiceProvider.FullName)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.ServiceType)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th class="text-center">More Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Pet.Name)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.ServiceProvider.FullName)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.ServiceType)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td class="text-center">
                @Html.ActionLink("Edit", "Edit", new { id = item.AppointmentId }) |
                @Html.ActionLink("Details", "Details", new { id = item.AppointmentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AppointmentId })
            </td>
        </tr>
    }

</table>
