@model IEnumerable<PetHelper.Models.PetModels.PetListDetail>

@{
    ViewBag.Title = "RenderPetsByPetOwnerId";
}



<table class="table  text-center">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.PetType)
        </th>
        <th class="text-center">Select this Pet:</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.PetType)
            </td>
            <td class="text-center">
                @Html.RadioButtonFor(modleItem =>item.PetId, item.PetId)
            </td>
        </tr>
    }
    @ViewBag.PetId = 
</table>
